{
 "replace-field" : [
 
    {
      "name": "active",
      "type": "boolean",
      "multiValued": false,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "brands",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": false,
      "stored": true,
      "docValues": false
    },
    {
      "name": "category",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "colors",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": false,
      "stored": true,
      "docValues": false
    },
    {
      "name": "description",
      "type": "text_general",
      "multiValued": false,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "groupID",
      "type": "text_general",
      "multiValued": false,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "name",
      "type": "text_general",
      "multiValued": false,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "productSKUs",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "products",
      "type": "text_general",
      "multiValued": false,
      "indexed": false,
      "required": false,
      "stored": true,
      "docValues": false
    },
    {
      "name": "promotionPriceRange",
      "type": "pfloat",
      "multiValued": true,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "regularPriceRange",
      "type": "pfloat",
      "multiValued": true,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "searchKeywords",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": true,
      "stored": true,
      "docValues": false
    },
    {
      "name": "sizes",
      "type": "text_general",
      "multiValued": true,
      "indexed": true,
      "required": false,
      "stored": true,
      "docValues": false
    } 
 
 ]
}